* {
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 36px;
  margin: 0;
  height: 100vh;
}

.paragraph {
  width: 90%;
  font-size: 32px;
  text-align: center;
  cursor: default;
  overflow-wrap: anywhere;
}

.selection_box {
  display: none;
  position: absolute;
  border: 1px solid #1778ff;
  background-color: #86b9ff;
  opacity: 0.8;
  z-index: 2;
}

.character {
  display: inline-block;
}

.selected {
  background-color: rgba(0, 145, 12, 0.8);
  color: #fff;
  cursor: grab;
  z-index: 1;
}